{% extends 'layout.jinja2' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Vitajte v mojej aplikacii</h1>
        <p class="lead">Tato aplikacia umoznuje lekarovi spravovat udaje o pacientoch, viest si o nich zaznamy, planovat rozne vysetrenia. Taktiez tato aplikacia sluzi pacientovi na to aby mal prehlad o svojich udajoch a taktiez si moze dohodnut dane vysetrenie u lekara. </p>
    </div>
{% endblock %}